<div class="row">
    <div class="col-md-12">
        <h2>
            Categories
            <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
        </h2>
        <hr />

        <table class="table table-responsive">
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th></th>
            </tr>
            
            {{#each categories}}
            <tr>
                <td><a href="/posts?category={{this.id}}">{{this.id}}</a></td>
                <td><a href="/posts?category={{this.id}}">{{this.category}}</a></td>
                <td><a href="/categories/delete/{{this.id}}" class="btn btn-danger">Remove</a></td>
            </tr>
            {{/each}}
        </table>

    </div>

    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>

</div>
